@import "tailwindcss";
@import "tailwindcss";

:root {

  /* =========================
     COLORS
  ========================= */

  --primary: #c8a96e;
  --primary-soft: rgba(200,169,110,.08);
  --primary-border: rgba(200,169,110,.15);
  --primary-glow: rgba(200,169,110,.04);

  /* =========================
     BACKGROUND
  ========================= */

  --bg-main: #111113;
  --bg-card: #161618;
  --bg-soft: rgba(255,255,255,.02);

  /* =========================
     TEXT
  ========================= */

  --text-main: #e8e4dc;
  --text-muted: #6b6560;
  --text-soft: #9a948c;

  /* =========================
     BORDER
  ========================= */

  --border-soft: rgba(255,255,255,.05);
  --border-primary: rgba(200,169,110,.15);

  /* =========================
     SHADOW
  ========================= */

  --shadow-soft: 0 10px 30px rgba(0,0,0,.3);
  --shadow-glow: 0 0 40px rgba(200,169,110,.15);

  /* =========================
     RADIUS
  ========================= */

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 18px;

}